.list-row.listen{
    margin-bottom: 0px;
}

.table-desc{
    font-size:20px;
    text-align:left;
    margin-bottom: 20px;
}

.table1{
    width: 50%;
    float:left;
    padding-right: 10px;
}

.mobile-desc{
    text-align: left;
    font-size: 20px;
}

.fa-apple{
    color:#999999;
}

.fa-android{
    color: #a4c639;
}