.main-content-grid{
    padding-right: 10% !important;
    padding-left: 10% !important;
    margin-top: 50px !important;
}

.news-image {
    width: 200px;
    height: 200px;
}

.height-300 {
  height: 300px;
}

.grid-element {
    font-size: 18px;
}

.grid-element.sub{
    height: 300px;
}
