
.donate-container{
    margin-top: 50px !important;
}
.donate-text{
    font-size: 24px;
}
.content-btns{
    float:left;
    width: 50%;
    margin-bottom: 20px;
    padding-right: 10px;
}

.donate-btn{
    font-size: 24px !important;
    width: 100%;
}

.div-donate{
   margin-bottom: 20px;
}

.donateDesc{
    font-size: 24px;
    margin-top: 20px;
}

.content-header{
    display: block;
    text-align: left;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.personal-form{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-container{
    text-align: left !important;
    font-size: 16px !important;
}

.form-input{
    width: 50%;
}

.form-input2{
    width: 25%;
}

.selection.dropdown>.dropdown.icon{
    padding-top: 0 !important;
    padding-right: 0 !important;
}

div.ui.input{
    width: 100% !important;
}

.merch-btn{
    background-color: #FFFFFF !important;
}

.images{
    width: 200px; 
    height: 200px;
}

.images:hover{
    cursor: pointer;
}



.div-beneath-img{
    width:100%;
    background-color: #e0e1e2;
}

.div-checkout{
    margin-top:20px !important;
}

.donation-desc{
    font-size: 24px;
}

.fa-dollar{
    position: absolute;
    top: 8px;
    height: 1.25em;
    width: 1.25em;
}

.donation-amount-box{
    padding-left:15px;
    font-size: 24px;
    width: 200px;
}

.item-header{
    display: inline-flex;
}

.list-item{
    text-align: left;
}

.list-image{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.list-header{
    font-size: 24px;
    margin-top:15px !important;
    margin-bottom: 20px !important;
}

.list-description{
    font-size: 16px;
    margin-bottom: 10px !important;
}