/* Navigation Bar Style
 * used in: NavBar.js
 */

.navbar{
    /*padding-top: 5px !important;*/
}

.nav-item {
    font-weight: 600 !important;
    font-size: 20px;
}

.kzsc-nav-icon {
  padding: 15px 15px 15px 15px !important;
}

.kzsc-nav-link {
  padding: 24px 15px 22px 15px !important;
}

.kzsc-nav-link:hover {
  border-bottom-color: #000 !important;
  background: #f2f2f2 !important;
}

#kzsc-icon-vertical {
  font-size: 2em;
}

#kzsc-menu a {
    color: #000000 !important;
}

#kzsc-icon {
  width: 2.9em;
}

#kzsc-icon-container {
  padding-bottom: .65em;
}
