.footer{
    margin-top: 50px !important;
    background-color:black !important; 
    position: absolute !important;
    width: 100% !important;
    height: 200px;
}

.left-column{
    border-right: 2px solid !important ;
    border-right-color: black !important; 
}


.grid-block{
    padding-right: 15% !important;
    padding-left: 15% !important;
    margin-top: 0 !important;
    height: 200px;
}

.footer-item{
    font-size: 18px;
}