
.blog-container{
    margin-top: 50px !important;
}
.blog-text{
    font-size: 24px;
}
.content-btns{
    float:left;
    width: 50%;
    margin-bottom: 20px;
    padding-right: 10px;
}

.blog-btn{
    font-size: 24px !important;
    width: 100%;
}

.div-blog{
   margin-bottom: 20px;
}

.blogDesc{
    font-size: 24px;
    margin-top: 20px;
}


.content-header{
    display: block;
    text-align: left;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.personal-form{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-container{
    text-align: left !important;
    font-size: 16px !important;
}

.form-input{
    width: 50%;
}

.form-input2{
    width: 25%;
}

.selection.dropdown>.dropdown.icon{
    padding-top: 0 !important;
    padding-right: 0 !important;
}

div.ui.input{
    width: 100% !important;
}

.blog-images{
    width: 230px;
    max-height: 230px;

}


image{
  margin-left: 9px;
  height: 230px;
  width: 230px;
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-width: thin;
  border-radius: 50% !important;
  background-image: url('http://pngimg.com/uploads/cd_dvd/cd_dvd_PNG9073.png');
  background-size: cover;
   background-position: center;
}

.blogtext-container{
  position: relative;
  margin-top: -80px;
  min-height: 230px;
  width: 250px;
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-width:medium;
  border-radius: 5%;
  background-color: white;
  padding : 15px;
}

h3{
  margin-bottom: 0;
}

h5{
  margin-top: 0;
  margin-bottom: 5px;
}



.div-beneath-img{
    width:100%;
    background-color: #e0e1e2;
}

.div-checkout{
    margin-top:20px !important;
}

.checkout{
    display: inline-block;
}
