.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Margin and Padding Styles BEGIN */
.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.margin-t-70 {
  margin-top: 70px;
}
/* Margin and Padding Styles END */

/* Width and Height Styles BEGIN */
.width-100pc {
  width: 100%;
}
/* Width and Height Styles BEGIN */

/* Site Wide Styles BEGIN */
.centered-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.font-size-22 {
  font-size: 22px;
}
/* Site Wide Styles END */

/* Colors BEGIN */
.color-apple {
  color: #999999;
}

.color-android {
  color: #a4c639;
}

.color-soundcloud {
  color: #ff5500;
}
/* Colors END */
