.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Padding Styles BEGIN */
.padding-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Padding Styles END */

/* Site Wide Styles BEGIN */
.centered-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* Site Wide Styles END */

/* Colors BEGIN*/
.color-apple {
  color: #999999;
}

.color-android {
  color: #a4c639;
}

.color-soundcloud {
  color: #ff5500;
}
/* Colors END */
